  <h3 class="title-page">الرئيسيه <img src="assets/dashboard/iconarrowdouble.png"  class="mx-1" alt="icon"> <span>المجموعه</span></h3>

    <form class="forms_dashboard">
        <div class="row">

     

<div class="mb-3 col-sm-12 ">
                 <label for="groupname" class="form-label">اسم المجموعه</label>
                 <input type="text" class="form-control mt-2" id="groupname" placeholder="اسم المجموعه">
        </div>
     
           


           
</div>
      
            
            <div class="btn_add_reset">
                <button type="reset">جديد</button> 
                <button type="submit">اضافه</button>
                
            </div>
         
        
    </form>
<div class="table-responsive">
<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">م</th>
      
      <th scope="col">اسم المجموعه </th>
      <th scope="col">الادوات</th>
      <!-- <th scope="col">Handle</th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">م</th>
      <td>محمد احمد ابراهيم</td>
     
       <td>
       <button class="btn btn-success ms-3"> <i class="fa-solid fa-pen-to-square"></i></button>
       <button class="btn btn-danger"> <i class="fa-solid fa-trash"></i></button>

       </td>
    </tr>
    <tr>
      <th scope="row">م</th>
      <td>محمد احمد ابراهيم</td>
     
      <!-- <td>@mdo</td> -->
       <td class="btn_table">
       <button class="btn btn-success ms-3"> <i class="fa-solid fa-pen-to-square"></i></button>
       <button class="btn btn-danger"> <i class="fa-solid fa-trash"></i></button>

       </td>
    </tr>
     <tr>
      <th scope="row">م</th>
      <td>محمد احمد ابراهيم</td>
      
       <td>
       <button class="btn btn-success ms-3"> <i class="fa-solid fa-pen-to-square"></i></button>
       <button class="btn btn-danger"> <i class="fa-solid fa-trash"></i></button>

       </td>
    </tr>
  </tbody>
</table>   
</div>