 <h3 class="title-page">الادوات <img src="assets/dashboard/iconarrowdouble.png"  class="mx-1" alt="icon"> <span>كشف الحساب</span></h3>



 
    <form class="forms_dashboard">
        <div class="row">

     


       
  
        

                <div class="mb-3 col-sm-12  ">
                 <label for="hesap" class="form-label"> الحساب</label>
                 

                
 <select class="form-select" id="hesap" aria-label="Default select example">
                    <option disabled selected>اسم الحساب</option>
                        
                        
                </select>



            
                 
                 

        </div>

       

         <div class="mb-3 col-sm-12 col-md-6 ">
                 <label for="date" class="form-label">من</label>
               <input type="date" class="form-control" id="date" placeholder="التاريخ">
                  
        </div>
         <div class="mb-3 col-sm-12 col-md-6">
                 <label for="date" class="form-label">الي </label>
               <input type="date" class="form-control" id="date" placeholder="التاريخ">
                  
        </div>
        
       
        
           
</div>
      
            
            <div class="btn_add_reset">
                <button type="submit">بحث</button>
                
            </div>
         
        
    </form>
<div class="table-responsive">
<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">م</th>
      <th scope="col">اسم الحساب</th>
      <th scope="col">التاريخ</th>
      <th scope="col">البيان</th>
      <th scope="col">مدين</th>
      <th scope="col">دائن</th>
      <th scope="col">الاجمالي</th>
      <!-- <th scope="col">Handle</th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">م</th>
      <td>محمد احمد ابراهيم</td>
      <td>123456789101112</td>
      <td>10%</td>
      <td>123</td>
      <td>123</td> 
      <td>123</td> 
    </tr>
    <tr>
      <th scope="row">م</th>
      <td>محمد احمد ابراهيم</td>
      <td>123456789101112</td>
      <td>10%</td>
      <td>123</td>
      <td>123</td>
      <td>123</td>

      <!-- <td>@mdo</td> -->
    </tr>
     <tr>
      <th scope="row">م</th>
      <td>محمد احمد ابراهيم</td>
      <td>123456789101112</td>
        <td>10%</td>
      <td>123</td>
      <td>123</td>
      <td>123</td>
    </tr>
  </tbody>
</table>   
</div>