@use '../../../../../../styles/abstracts/vars' as *;
@use '../../../../../../styles/abstracts/mixins' as *;

.forms_dashboard{

    width: 50%;
    margin:80px auto;

    @include responsive('small'){
        width: 100%;

    }
    @include responsive('meduim'){
        width: 100%;

    }
    .password_input{
        position: relative;
         input{
        padding-left: 30px; 
    }

    .eye{
            position: absolute;
            left: 10px;
            top: 4px;
            background-color: transparent;
            border: 0;

        }
    }
   
}