  <h3 class="title-page">الاعدادات <img src="assets/dashboard/iconarrowdouble.png"  class="mx-1" alt="icon"> <span>تغيير كلمه المرور</span></h3>



  
    <form class="forms_dashboard">
        <div class="row">

     

<div class="mb-3 col-sm-12">
                 <label for="oldpassword" class="form-label"> كلمه المرور القديمه</label>
                 <div class="password_input">
                    <input type="password" class="form-control" id="oldpassword" placeholder="كلمه المرور القديمه ">
                    <button class="eye"><i class="fa-solid fa-eye-slash"></i></button>
                 </div>
                 
        </div>
<div class="mb-3 col-sm-12">
                 <label for="editpassword" class="form-label">تعديل كلمه المرور</label>
                 <div class="password_input">
                    <input type="password" class="form-control" id="editpassword" placeholder="تعديل كلمه المرور ">
                    <button class="eye"><i class="fa-solid fa-eye-slash"></i></button>
                 </div>
                 
        </div>
<div class="mb-3 col-sm-12">
                 <label for="surepassword" class="form-label">تاكيد كلمه المرور</label>
                 <div class="password_input">
                    <input type="password" class="form-control" id="surepassword" placeholder="تاكيد كلمه المرور">
                    <button class="eye"><i class="fa-solid fa-eye-slash"></i></button>
                 </div>
                 
        </div>
     

       


           
</div>
      
            
            <div class="btn_add_reset text-center">
                <button type="submit">حفظ</button>
                
            </div>
         
        
    </form>