$main-color:#16601A;
$secondary-color:#EEF5EF;
$placeholder-color:#7F7F7F;
$black-color:#000000;
$white-color:#ffffff;
$background-color:#EEF5EF;
$color-errormsg:#dc3545;
$color-successmsg:#28a745;

// Font-weight

$heading-weight:700;
$p-weight:400;
$label-weight:600;


// border

$border-radius-lg:8px;
$border-radius-sm:4px;


// Colors

$border-color:#dee2e6;