

<div class="d-flex justify-content-between align-items-center">

  <!-- العنوان الديناميكي -->
  <h3 class="title-page" appIntersection="fade-in">
    الرئيسية
    <img src="assets/dashboard/iconarrowdouble.png" class="mx-1" alt="icon">
    <span routerLink="/dashboard/tenant/hometenant">المستأجر</span>
    <ng-container *ngIf="pageTitle !== 'المستأجر'">
      <img src="assets/dashboard/iconarrowdouble.png" class="mx-1" alt="icon">
      <span>{{ pageTitle }}</span>
    </ng-container>
  </h3>

  <!-- زر الإضافة -->
  <a *ngIf="showAddButton"
     appIntersection="fade-in"
     routerLink="/dashboard/tenant/addtenant"
     class="btn_addTenant">
    <i class="fa-solid fa-user-plus"></i>
    إضافة مستأجر جديد
  </a>

</div>

<router-outlet></router-outlet>