@use '../../../../../../styles/abstracts/vars' as *;
@use '../../../../../../styles/abstracts/mixins' as *;

.imgprofile{
    width: 100%;
    height: 260px;
    img{
        width: 100%;
        height: 100%;

    }
@include responsive('small'){
     margin-bottom: 20px;
 width: 100%;

}
@include responsive('meduim'){
 width: 100%;
 height: 100%;

}
   
}