  <h3 class="title-page">الاعدادات <img src="assets/dashboard/iconarrowdouble.png"  class="mx-1" alt="icon"> <span>الملف الشخصي</span></h3>


<div class="row mt-5 align-items-center">

    <div class="col-sm-12 col-md-4 col-lg-4 ">
        <label for="imgprofile" class="imgprofile">
   <img src="assets/dashboard/changeimage.png" alt="" class="w-100">
        </label>

        <input type="file" style="display: none;" id="imgprofile" accept="image/*">
     
    </div>

    <form class="forms_dashboard col-sm-11 col-md-8 ">
        <div class="row">

     

<div class="mb-3 col-sm-12 ">
                 <label for="username" class="form-label">اسم المستخدم</label>
                 <input type="text" class="form-control" id="username" placeholder="اسم المستخدم">
        </div>
     
        <div class="mb-3 col-sm-12 col-md-6 ">
                 <label for="phonenumber" class="form-label">رقم الجوال</label>
                 <input type="text" class="form-control" id="phonenumber" placeholder="الرقم">
        </div>

        
       
            <!-- </div> -->
 







  <div class="mb-3 col-sm-12 col-md-6">
                 <label for="group" class="form-label"> المجموعه
                 </label>
                <select class="form-select" id="group" aria-label="Default select example" >
                    <option disabled selected>اختر المجموعه</option>
                       
                </select>
        </div>
  


           
</div>
      
            
            <div class="btn_add_reset">
                <button type="submit">حفظ</button>
                
            </div>
         
        
    </form>
</div>
  