<h3 class="title-page" appIntersection="fade-in" >
  الادوات
  <img src="assets/dashboard/iconarrowdouble.png" class="mx-1" alt="icon">
  <span>صرف الرواتب</span>
</h3>

<form class="forms_dashboard" [formGroup]="exChangeForms" (ngSubmit)="onSubmit()" appIntersection="fade-in">
  <div class="row">
    <div class="mb-3 col-sm-12 col-md-6">
      <label for="arestnumber" class="form-label">رقم السند</label>
      <input type="text" class="form-control" id="arestnumber" formControlName="voucherNumber">
    </div>
    <div class="mb-3 col-sm-12 col-md-6">
      <label for="date" class="form-label">التاريخ</label>
      <input type="date" class="form-control" id="date" formControlName="voucherDate">
    </div>
  </div>

  <div class="table-responsive" appIntersection="fade-in">
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>م</th>
          <th>اسم الموظف</th>
          <th>الراتب</th>
          <th>الصندوق</th>
          <th>غياب</th>
          <th>سلفة</th>
          <th>جزاء</th>
          <th>مكافأة</th>
          <th>صافي</th>
          <th>العمليات</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>جديد</th>
          <td>
            <select class="form-select" [formControl]="getFormControl('employeeId')" (change)="ChangeSelectEmp($event)">
              <option value="" disabled selected>اسم الموظف</option>
              @for (item of getNameEmployee; track $index) {
                <option [value]="item.id">{{ item.fullName }}</option>
              }
            </select>
          </td>
          <td><input type="text" class="form-control text-center" [formControl]="getFormControl('baseSalary')" readonly></td>
          <td>
            <select class="form-select" [formControl]="getFormControl('accountId')">
              <option value="" disabled selected>-----</option>
              @for (item of accountNameData; track $index) {
                <option [value]="item.id">{{ item.accountName }}</option>
              }
            </select>
          </td>
          <td><input type="text" class="form-control text-center" [formControl]="getFormControl('absenceDays')"></td>
          <td><input type="text" class="form-control text-center" [formControl]="getFormControl('loanRepayment')"></td>
          <td><input type="text" class="form-control text-center" [formControl]="getFormControl('deductions')"></td>
          <td><input type="text" class="form-control text-center" [formControl]="getFormControl('bonuses')"></td>
          <td><input type="text" class="form-control text-center" value="-" readonly></td>
          <td>
            <button type="button" (click)="AddDataSalary()" class="btn btn-success">{{ editIndex !== null ? 'تعديل' : 'إضافة' }}</button>
          </td>
        </tr>

        @for (item of getAllData; track $index) {
          <tr>
            <th>{{ $index + 1 }}</th>
            <td>{{ getEmployeeNameById(item.employeeId) }}</td>
            <td>{{ item.baseSalary }}</td>
            <td>{{ getAccountNameById(item.accountId) }}</td>
            <td>{{ item.absenceDays }}</td>
            <td>{{ item.loanRepayment }}</td>
            <td>{{ item.deductions }}</td>
            <td>{{ item.bonuses }}</td>
            <td>{{ item.netSalary }}</td>
            <td>
            <!-- <button class="btn btn-sm btn-info" (click)="editRow($index)">تعديل</button> -->
               <button class="btn btn-success ms-1" (click)="editRow($index)">
  <i class="fa-solid fa-pen-to-square"></i> 
</button> 
              <!-- <button class="btn btn-sm btn-danger" (click)="deleteRow($index)">حذف</button> -->

              <button class="btn  btn-danger" (click)="deleteRow($index)">
  <i class="fa-solid fa-trash"></i> 
</button>

            </td>
          </tr>
        }@empty {
       <tr>
      <td colspan="12" class="text-center py-5" style="color: #888; font-size: 18px;">
        <i class="fa-solid fa-circle-exclamation fa-2x mb-2" style="color: #ccc;"></i><br>
        لا توجد بيانات حتى الآن
      </td>
    </tr>
    }

      </tbody>
    </table>
    <button type="submit" class="btn mt-3 d-block me-auto text-white" style="background-color: #157347;">حفظ</button>
  </div>
</form>
