<div class="direction container">
    <h3 class="title-page">لوحه التحكم</h3>
</div>


<div class="income_total">
<div class="row justify-content-between align-items-center">
    <div class="col-md-12 col-lg-6">
<div class="right">
        <h4><span>36,520</span>
        إجمالي الايرادات السنويه
        </h4>
<p>لقدبنينا 23 منزلا إضافيا في المدينه , ولكن لم يتم بيع سوي 12 منزلا </p>
<a href="#">عرض المزيد من التقارير</a>
    </div>
    </div>
    <div class="col-md-12 col-lg-6">


    <div class="left">
<canvas #myChart width="400" height="200"></canvas>
</div>
    </div>
</div>
    
</div>

<div class="rate">
   <div class="row">
    
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="bar">
            <h4>النسبه المئويه لاجمالي الايرادات</h4>
            <canvas #myChart2 width="200px" height="100"></canvas>
            </div>
       
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 mostager">
          
            <h4>احدث مستاجرين</h4>
           
            <div class="personal">
                <img src="assets/dashboard/Image.png" alt="">
                <div class="content">
                    <h5>ياسمين المنسي</h5>
                    <p>وصف</p>
                </div>
            </div>
            <div class="personal">
                <img src="assets/dashboard/Image.png" alt="">
                <div class="content">
                    <h5>ياسمين المنسي</h5>
                    <p>وصف</p>
                </div>
            </div>
            <div class="personal">
                <img src="assets/dashboard/Image.png" alt="">
                <div class="content">
                    <h5>ياسمين المنسي</h5>
                    <p>وصف</p>
                </div>
            </div>
       
       
        </div>

        <div class="col-6 taslem">
           <div class="row">
            <div class="col-6">
    <div class="box">
                <div class="content">
                    <div class="head">
                        <img src="assets/dashboard/iconhome1.png" alt="iconhome">
                        <h5>120+</h5>
                    </div>
                    <p>تم تسليم 120 منزلا للمستاجرين </p>
                </div>
                <div class="icon ">
                    <img src="assets/dashboard/Icon.png" alt="">
                </div>
                
            </div>
            </div>
        
            <div class="col-6">
<div class="box">
                <div class="content">
                    <div class="head">
                        <img src="assets/dashboard/iconhome1.png" alt="iconhome">
                        <h5>120+</h5>
                    </div>
                    <p>تم تسليم 120 منزلا للمستاجرين </p>
                </div>
                <div class="icon">
                    <img src="assets/dashboard/Icon.png" alt="">
                </div>
                
            </div>
            </div>
            <div class="col-6">
<div class="box">
                <div class="content">
                    <div class="head">
                        <img src="assets/dashboard/iconhome1.png" alt="iconhome">
                        <h5>120+</h5>
                    </div>
                    <p>تم تسليم 120 منزلا للمستاجرين </p>
                </div>
                <div class="icon">
                    <img src="assets/dashboard/Icon.png" alt="">
                </div>
                
            </div>
            </div>
            <div class="col-6">
<div class="box">
                <div class="content">
                    <div class="head">
                        <img src="assets/dashboard/iconhome1.png" alt="iconhome">
                        <h5>120+</h5>
                    </div>
                    <p>تم تسليم 120 منزلا للمستاجرين </p>
                </div>
                <div class="icon">
                    <img src="assets/dashboard/Icon.png" alt="">
                </div>
                
            </div>
            </div>
            
            
           </div>
       
        </div>
   </div>

</div>
    





 <!-- <div class="row">
        <div class="col-3">
            <div class="bar">
            <h4>النسبه المئويه لاجمالي الايرادات</h4>
            <canvas #myChart2 width="200px" height="100"></canvas>
            </div>
       
        </div>
        <div class="col-2 mostager">
          
            <h4>احدث مستاجرين</h4>
           
            <div class="personal">
                <img src="assets/dashboard/Image.png" alt="">
                <div class="content">
                    <h5>ياسمين المنسي</h5>
                    <p>وصف</p>
                </div>
            </div>
            <div class="personal">
                <img src="assets/dashboard/Image.png" alt="">
                <div class="content">
                    <h5>ياسمين المنسي</h5>
                    <p>وصف</p>
                </div>
            </div>
            <div class="personal">
                <img src="assets/dashboard/Image.png" alt="">
                <div class="content">
                    <h5>ياسمين المنسي</h5>
                    <p>وصف</p>
                </div>
            </div>
       
       
        </div>
        <div class="col-6 taslem">
           <div class="row">
            <div class="col-6 box">
                <div class="content">
                    <div class="head">
                        <img src="assets/dashboard/iconhome1.png" alt="iconhome">
                        <h5>120+</h5>
                    </div>
                    <p>تم تسليم 120 منزلا للمستاجرين </p>
                </div>
                <div class="icon">
                    <img src="assets/dashboard/Icon.png" alt="">
                </div>
                
            </div>
            <div class="col-6 box">
                <div class="content">
                    <div class="head">
                        <img src="assets/dashboard/iconhome1.png" alt="iconhome">
                        <h5>120+</h5>
                    </div>
                    <p>تم تسليم 120 منزلا للمستاجرين </p>
                </div>
                <div class="icon">
                    <img src="assets/dashboard/Icon.png" alt="">
                </div>
                
            </div>
            
           </div>
       
        </div>
    </div> -->
