<svg width="300" height="300" style="margin: auto; "  >
     <circle cx="130" cy="150" r="110" stroke="#fdb72d" stroke-width="1" fill="white" class="circle_spacing" style="animation-delay:0s;"></circle>
     <circle cx="135" cy="150" r="110" stroke="#fdb72d" stroke-width="1" fill="white" class="circle_spacing" style="animation-delay:0.2s;"></circle>
     <circle cx="140" cy="150" r="110" stroke="#fdb72d" stroke-width="1" fill="white" class="circle_spacing" style="animation-delay:0.4s;"></circle>
     <circle cx="145" cy="150" r="110" stroke="#fdb72d" stroke-width="1" fill="white" class="circle_spacing" style="animation-delay:0.6s;"></circle>
     <circle cx="150" cy="150" r="110" stroke="#fdb72d" stroke-width="1" fill="white" class="circle_spacing" style="animation-delay:0.8s;"></circle>

     <polyline points="99,149 135,102 173,149 144,113 151,104 186,149" fill="none" stroke="#fdb72d"  class="circle_spacing" style="animation-delay:1s;"></polyline>
     <polyline points="111,133 111,111 118,111 118,124" fill="none" stroke="#fdb72d"  class="circle_spacing" style="animation-delay:1.2s;"></polyline>

     <circle cx="130" cy="129" r="4" fill="#fdb72d" class="circle_spacing" style="animation-delay:1.4s;"></circle>
     <circle cx="138" cy="129" r="4" fill="#fdb72d" class="circle_spacing" style="animation-delay:1.6s;"></circle>
     <circle cx="130" cy="137" r="4" fill="#fdb72d" class="circle_spacing" style="animation-delay:1.8s;"></circle>
     <circle cx="138" cy="137" r="4" fill="#fdb72d" class="circle_spacing " style="animation-delay:2s;"></circle>

     <text x="85" class="text_svg" y="177"  font-weight="bold" font-size="20" font-family="impact" letter-spacing="2">
      MAGED SOFT
      <tspan x="98" y="199" font-size="15">Real Estate</tspan>

     </text>

    </svg>