
 <h3 class="title-page mt-5" appIntersection="fade-in">بيانات المستأجر</h3>



    <form class="forms_dashboard " [formGroup]="formData" appIntersection="fade-in">
       <div style="background-color: #EEF5EF;     padding: 25px; border-radius: 4px;">
        <div class="row">

           
     

<div class="mb-3 col-sm-12 col-md-6 col-lg-3">
                 <label for="FullName" class="form-label">الاسم</label>
                 <input type="text" class="form-control" id="FullName" placeholder="الاسم" formControlName="FullName">
                   <ng-container *ngIf="formData.controls['FullName'].invalid && formData.controls['FullName'].touched">
                      <small *ngIf="formData.controls['FullName'].hasError('required')">اسم المستأجر مطلوب</small>
                 </ng-container>
        </div>
        <div class="mb-3 col-sm-12 col-md-6 col-lg-3">
                 <label for="Nationality" class="form-label">الجنسيه</label>
              
                   <select class="form-select" id="Nationality" aria-label="Default select example" formControlName="Nationality">
                    <option value="" disabled selected>الجنسيه</option>

                    @for (item of getNationality; track $index) {
                      <option [value]="item.nationality_ar">{{item.nationality_ar}}</option>
                    }
                        
                        
                </select>

                   <ng-container *ngIf="formData.controls['Nationality'].invalid && formData.controls['Nationality'].touched">
                      <small *ngIf="formData.controls['Nationality'].hasError('required')"> الجنسيه مطلوبه</small>
                 </ng-container>
        </div>
        <div class="mb-3 col-sm-12 col-md-6 col-lg-3">
                 <label for="phonenumber" class="form-label" >رقم الجوال</label>
                 <input type="text" class="form-control" (keypress)="validationNumber($event)" formControlName="PhoneNumber" id="phonenumber" placeholder="الرقم">
                  <ng-container *ngIf="formData.controls['PhoneNumber'].invalid && formData.controls['PhoneNumber'].touched">
                      <small *ngIf="formData.controls['PhoneNumber'].hasError('required')"> رقم التليفون مطلوب</small>
                 </ng-container>
        </div>
        <div class="mb-3 col-sm-12 col-md-6 col-lg-3">
                 <label for="email" class="form-label">البريد الالكتروني 
                 </label>
                 <input type="text" class="form-control" id="email" placeholder="الايميل" formControlName="Email">
                 <ng-container *ngIf="formData.controls['Email'].invalid && formData.controls['Email'].touched">
                      <small *ngIf="formData.controls['Email'].hasError('required')">  الايميل مطلوب</small>
                      <small *ngIf="formData.controls['Email'].hasError('email')">الرجاء إدخال بريد إلكتروني صحيح</small>
                 </ng-container>
        </div>
        
       
            <!-- </div> -->
 







  <div class="mb-3 col-sm-12 col-md-6 col-lg-3">
                 <label for="Identitytype" class="form-label">نوع الهويه
                 </label>
                <select class="form-select" id="Identitytype" aria-label="Default select example" formControlName="IdType">
                    <option value="" disabled selected>النوع</option>
                    <option value="هويه الوطنيه">هويه الوطنيه</option>
                        <option value="هويه مقيم (الاقامه)">هويه مقيم (الاقامه)</option>
                        <option value="هويه زائر">هويه زائر</option>
                        <option value="هويه خليجيه (لمواطني دول الخليج)">هويه خليجيه (لمواطني دول الخليج)</option>
                        <option value="هويه زائر (لليمنيين)">هويه زائر (لليمنيين)</option>
                        <option value="وثيقه سفر اضطراريه (للسعوديين مؤقتا)"> وثيقه سفر اضطراريه (للسعوديين مؤقتا)</option>
                        <option value="بطاقه الاحوال المدنيه  (قديمه قبل الهويه الوطنيه)">بطاقه الاحوال المدنيه  (قديمه قبل الهويه الوطنيه)</option>
                         <option value="هويه دبلوماسيه">هويه دبلوماسيه</option>
                          <option value="هويه خاصه (للمسؤولين والموظفين الرسميين)">هويه خاصه (للمسؤولين والموظفين الرسميين)</option>
                          <option value="هويه طالب (لبعض المعاهد الأمنيه والعسكريه)">هويه طالب (لبعض المعاهد الأمنيه والعسكريه)</option>
                </select>

                  <ng-container *ngIf="formData.controls['IdType'].invalid && formData.controls['IdType'].touched">
                      <small *ngIf="formData.controls['IdType'].hasError('required')">  نوع الهويه مطلوب</small>
                 </ng-container>
        </div>

              <div class="mb-3 col-sm-12 col-md-6 col-lg-3">
                 <label for="idnumber" class="form-label">رقم الهويه  
                 </label>
                 <input type="text" class="form-control" id="idnumber" (keypress)="validationNumber($event)" placeholder="الرقم" formControlName="IdNumber">

                   <ng-container *ngIf="formData.controls['IdNumber'].invalid && formData.controls['IdNumber'].touched">
                      <small *ngIf="formData.controls['IdNumber'].hasError('required')">  رقم الهويه مطلوب</small>
                 </ng-container>
        </div>      
            
              <div class="mb-3 col-sm-12 col-md-6 col-lg-3">
                 <label for="copy" class="form-label d-block" > نسخه الهويه    
                 </label>
                 <input type="file" id="copy" class="d-none" (change)="onFileSelected($event)">
                 <label for="copy" class="form-label d-flex copy_identity" >  
                    <div class="icon"><i class="fa-solid fa-download"></i> </div> 
                     <input type="text" class="form-control" id="copy" placeholder="نسخه" [value]="this.fileName" readonly style="pointer-events: none;"> 
                 </label>
               
            </div>  

            
              <div class="mb-3 col-sm-12 col-md-6 col-lg-3">
                 <label for="job" class="form-label">الوظيفه 
                 </label>
                 <input type="text" class="form-control" id="job" placeholder="الوظيفه" formControlName="JobTitle">

                    <ng-container *ngIf="formData.controls['JobTitle'].invalid && formData.controls['JobTitle'].touched">
                      <small *ngIf="formData.controls['JobTitle'].hasError('required')">  اسم الوظيفه مطلوب</small>
                 </ng-container>
                 
        </div>      
            
            

          

      </div>     
</div>
      
         
 
</form>



<h3 class="title-page mt-5">بيانات المرافقين</h3>

 <!-- <form > -->

  <div class="mt-3" style="background-color: #EEF5EF; padding: 25px;" >



    <form class="forms_dashboard " appIntersection="fade-in" [formGroup]="dependentForm" (ngSubmit)="saveDependent()"> 
      <div class="row" >

           
     

        <div class="mb-3 col-sm-12 col-md-6 col-lg-6">
                 <label for="username2" class="form-label">الاسم</label>
                 <input type="text" class="form-control" id="username2" placeholder="الاسم" formControlName="fullName">
        </div>
        <div class="mb-3 col-sm-12 col-md-6 col-lg-6">
                 <label for="idOrPassport" class="form-label">رقم الهويه / الاقامه</label>
                <input type="text" name="" id="idOrPassport" class="form-control" placeholder="رقم الاقامه / الهويه" formControlName="idOrPassport">
                  
        </div>
        
 







<div class="mb-3 col-sm-12 col-md-6 col-lg-4">
                 <label for="Nationality2" class="form-label">الجنسيه</label>
              
                   <select class="form-select" id="Nationality2" aria-label="Default select example" formControlName="nationality">
                    <option value="" disabled selected>الجنسيه</option> 

                       @for (item of getNationality; track $index) {
                      <option [value]="item.nationality_ar">{{item.nationality_ar}}</option>
                    }
                
                    
                  </select>
                </div>
            
              

            
              <div class="mb-3 col-sm-12 col-md-6 col-lg-4">
                 <label for="phonenumber2" class="form-label">رقم الجوال 
                 </label>
                 <input type="text" class="form-control" id="phonenumber2" placeholder="رقم الجوال" formControlName="phoneNumber">
        </div>      
            
              <div class="mb-3 col-sm-12 col-md-6 col-lg-3">
                 <label for="sellah" class="form-label">الصله  
                 </label>
                 <select name="" id="sellah" class="form-select" formControlName="relation">
                    <option value="" disabled selected>اختر الصلة</option>

                    @for(item of getrelations ; track $index){
                      <option [value]="item.relation_ar">{{item.relation_ar}}</option>
                    }
                 </select>
        </div>      

     
            
            

          

           
</div>
      
            
            <div class="btn_add_reset">
                <button type="reset">جديد</button> 
                <button type="submit">
                   {{ editIndex === null ? 'إضافة' : 'تعديل' }}
                </button>
                
            </div>
         




 </form>
  </div>  






    <div class="table-responsive" appIntersection="fade-in">
<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">م</th>
      <th scope="col">اسم المرافق</th>
      <th scope="col">رقم الهويه/الاقامه</th>
      <th scope="col">رقم الجوال </th>
      <th scope="col">الجنسيه</th>
      <th scope="col">الصله</th>
      <th scope="col">الادوات</th>
      <!-- <th scope="col">Handle</th> -->
    </tr>
  </thead>
  <tbody>

   <tr *ngFor="let dep of dependents; let i = index">
  <th>{{ i + 1 }}</th>
  <td>{{ dep.fullName }}</td>
  <td>{{ dep.idOrPassport }}</td>
  <td>{{ dep.phoneNumber }}</td>
  <td>{{ dep.nationality }}</td>
  <td>{{ dep.relation }}</td>
  <td>
        <button class="btn btn-success ms-3" (click)="editDependent(i)">
  <i class="fa-solid fa-pen-to-square"></i>
</button>
    <button class="btn btn-danger" (click)="deleteDependent(i)">
      <i class="fa-solid fa-trash"></i>
    </button>
 
  </td>

</tr>
  </tbody>
</table>

<!-- </div> -->

<div class="btn_add_reset">
                <!-- <button type="button" (click)="onSubmit()">حفظ</button> -->
                  <button style="border: 0;" type="button" (click)="onSubmit()" [ngStyle]="{'background-color':isEditMode == true ? '#16601A':'#fd7e14'}">{{isEditMode==true ? "حفظ" : 'تعديل'}}</button>
</div>





