<div class="loading">
  <svg class="loading_svg">

       <polygon points="12,89 27,88 69,38 62,31" fill="transparent"  stroke="#000" class="draw_house delay-1"></polygon>
       <polygon points="62,31 142,30 190,87 111,88 69,38" fill="transparent"  stroke="#000" class="draw_house delay-2"></polygon>
       <polygon points="27,88 27,146" fill="transparent"  stroke="#000" class="draw_house delay-3"></polygon>
       <polygon points="12,146 191,146" fill="transparent"  stroke="#000" class="draw_house delay-4"></polygon>
       <polygon points="121,88 121,146" fill="transparent"  stroke="#000" class="draw_house delay-5"></polygon>
       <polygon points="121,88 121,146" fill="transparent"  stroke="#000" class="draw_house delay-6"></polygon>
       <polygon points="176,88 176,146" fill="transparent"  stroke="#000" class="draw_house delay-7"></polygon>
       <polygon points="55,91 83,91 83,146 56,146" fill="transparent"  stroke="#000" class="draw_house delay-8"></polygon>
       <polygon points="56,117 63,117" fill="transparent"  stroke="#000" class="draw_house delay-9"></polygon>
       <polygon points="141,101 158,101 158,127 141,127" fill="transparent"  stroke="#000" class="draw_house delay-10"></polygon>
       <polygon points="149,101 149,127 " fill="transparent"  stroke="#000" class="draw_house delay-11"></polygon>
       <polygon points="141,114 158,114 " fill="transparent"  stroke="#000" class="draw_house delay-12"></polygon>
       <!-- <polygon points="114,44 137,44 137,73 124,73 113,60 " fill="transparent"  stroke="#000" class="draw_house delay-13"></polygon> -->
       <!-- <polygon points="125,44 124,72" fill="transparent"  stroke="#000" class="draw_house delay-14"></polygon> -->

       <text x="20" y="190" font-size="20px" class="draw_text">
       ... جاري تحميل العقارات 
       </text>
        
    </svg>
    </div>
  
