
    <form class="forms_dashboard">
        <div class="row align-items-center">

     

<div class="mb-3 col-sm-12 col-md-6">
                 <label for="nameara" class="form-label">اسم الشركه بالعربي</label>
                 <input type="text" class="form-control" id="nameara" placeholder="اسم الشركه بالعربي">
        </div>
<div class="mb-3 col-sm-12 col-md-6 ">
                 <label for="nameeng" class="form-label">اسم الشركه بالانجليزي</label>
                 <input type="text" class="form-control" id="nameeng" placeholder="اسم الشركه بالانجليزي">
        </div>
     

        <div class="mb-3 col-sm-12 col-md-6">
                 <label for="phonenumber" class="form-label">رقم الجوال</label>
                 <input type="text" class="form-control" id="phonenumber" placeholder="الرقم">
        </div>
        <div class="mb-3 col-sm-12 col-md-6">
                 <label for="email" class="form-label"> البريد الالكتروني</label>
                 <input type="text" class="form-control" id="email" placeholder="البريد ">
        </div>
        <div class="mb-3 col-sm-12 col-md-6">
                 <label for="numberdarebe" class="form-label">الرقم الضريبي</label>
                 <input type="text" class="form-control" id="numberdarebe" placeholder="الرقم الضريبي ">
        </div> 
        <div class="mb-3 col-sm-12 col-md-6">
                 <label for="segltogare" class="form-label">السجل التجاري </label>
                 <input type="text" class="form-control" id="segltogare" placeholder="السجل التجاري">
        </div> 
        <div class="mb-3 col-sm-12 col-md-6">
                 <label for="hesap" class="form-label">الحساب البنكي</label>
                 <input type="text" class="form-control" id="hesap" placeholder="الحساب البنكي">
        </div> 
        <div class="mb-3 col-sm-12 col-md-6">
                 <label for="address" class="form-label">العنوان</label>
                 <input type="text" class="form-control" id="address" placeholder="العنوان">
        </div> 
        <div class="mb-3 col-sm-12 col-md-6">
                 <label for="nespaDareba" class="form-label">نسبه الضريبه(%)</label>
                 <input type="text" class="form-control" id="nespaDareba" placeholder="نسبه الضريبه">
        </div> 

        
       
            <!-- </div> -->
 







  <div class="mt-3 col-sm-12 col-md-6">

  <div class="form-check mt-1 d-flex align-items-center"> <!-- خليها mt بدل mb -->
    <input type="checkbox" class="checkbox" id="status" checked>
    <label class="form-check-label" for="status" >نشط</label>
  </div>   
                
        </div>

       


           
</div>
      
            
            <div class="btn_add_reset">
                <button type="submit">حفظ</button>
                
            </div>
         
        
    </form>